body {
  width: 300px;
  padding: 0px 2px 1px;
}

.biases-links{
  display:flex;
  justify-content: space-evenly;
  
}

.links{
  float:left;
  filter: grayscale(100%);
  transition:0.5s;
  /* border: 1px red solid;   */
  padding: 8px;
}

.links:hover{
  filter: grayscale(25%);
  transition:0.5s;
}

.toggle-page{
filter:none;
}


.toggle-unusable{
filter: blur(100px);
}

.toggle-unusable:hover{
filter: blur(100px);
}